<h1>Mindmap demo</h1>

<ul>
  <li>
    <a href="#">ACME Company</a>
    <ul>
      <li>
        <a href="#">Divisions</a>
        <ul>
          <li>
            <a href="#">division 1234</a>
          </li>
          <li>
            <a href="#">division 1235</a>
          </li>
          <li>
            <a href="#">division 1236</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
