<h1>Mindmap demo</h1>

<div class="mindmap-container">
  <ul>
    <% Node.roots.each do |root| %>
      <li>
        <a href="#"><%= root.name %></a>
        <ul>
          <%= render root.children %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
